body {
  padding-top: 128px;
  padding-left: 125px;
  font-family: Manrope;
  font-style: normal;
  box-sizing: border-box;
}
h1 {
  margin-left: 125px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #121212;
  width: 956px;
  height: 120px;
  padding-bottom: 30px;
}
.top {
  width: 1150px;
  height: 500px;
  margin-left: 125px;
  position: relative;
  background-image: url(../resources/Rectangle\ 1.png);
  background-repeat: no-repeat;
}
.top-text {
  width: 430px;
  height: 81px;
  position: absolute;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
  left: 40px;
  bottom: 40px;
}
h2 {
  padding-top: 150px;
  margin-left: 125px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.text-preview {
  width: 1048px;
  height: 368px;
  padding-top: 30px;
  margin-left: 125px;
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: #121212;
  margin-bottom: 30px;
}
.link {
  width: 255px;
  height: 67px;
  margin-left: 125px;
  background: #ad1818;
  border-radius: 5px;
}
.link a {
  margin-left: 125px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
  position: absolute;
  margin: 20px 40px;
  text-decoration: none;
}
h3 {
  margin-top: 150px;
  margin-bottom: 30px;
  margin-left: 125px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.container {
  margin-left: 125px;
}
.container h4 {
  margin-top: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
}
.container p {
  margin-top: 15px;
  margin-bottom: 90px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
}
.link_all_project {
  margin-left: 125px;
  display: block;
  padding-top: 56px;
  width: 1150px;
  height: 97px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ad1818;
}
.link_all_project a {
  width: 1150px;
  height: 41px;
  margin-left: 125px;
  padding-bottom: 150px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ad1818;
  text-decoration: none;
  transition: all 0.5s;
}
.link_all_project:hover {
  color: #ffffff;
  background-color: #ad1818;
}
.services {
  width: 1400px;
  height: 1844px;
  background: #121212;
}
h5 {
  margin-top: 125px;
  padding-top: 151px;
  padding-left: 127px;
  padding-bottom: 34px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
span p {
  padding-top: 15px;
  padding-left: 128px;
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.services img {
  margin-left: 125px;
}
