html {
  scroll-behavior: smooth;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: Manrope;
  font-style: normal;
  box-sizing: border-box;
}
.title,
.item,
.project,
h5,
.service p,
.services img {
  margin-left: 125px;
}
.title__nav {
  margin-top: 33px;
  margin-bottom: 44px;
  vertical-align: top;
  text-decoration: underline;
}

.title__nav__logo__metrika {
  margin-right: 559px;
}
.title__nav__wrapper {
  display: inline-block;
}

.title__nav__wrapper__link {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #121212;
  margin-right: 50px;
}
.title__nav__wrapper__link:hover {
  border-bottom: 1px solid #121212;
}
h1,
.top-text {
  letter-spacing: -0.03em;
}
h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  width: 956px;
  height: 120px;
  padding-bottom: 30px;
}
.top__img {
  width: 1150px;
  height: 500px;
  position: relative;
  background-image: url(../resources/interior.png);
  background-repeat: no-repeat;
}
.top__img__text {
  width: 430px;
  height: 81px;
  position: absolute;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  left: 40px;
  bottom: 40px;
}
.item {
  padding-top: 150px;
}
h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
.item__text__preview {
  width: 1048px;
  height: 368px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: #121212;
  margin-bottom: 30px;
}
.item__link {
  width: 255px;
  height: 67px;
  margin-top: 30px;
  background: #ad1818;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  line-height: 65px;
  letter-spacing: -0.03em;
  color: #ffffff;
  position: absolute;
  text-decoration: none;
  display: block;
}
h3 {
  margin-top: 300px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.project__container h4 {
  margin-top: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 15px;
}
.project__container__link {
  display: block;
  margin-bottom: 90px;
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}
.project__link_all_project {
  display: block;
  padding-top: 56px;
  width: 1150px;
  height: 97px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ad1818;
  transition: all 0.5s;
}
.project__link_all_project:hover {
  color: #ffffff;
  background-color: #ad1818;
}
.services {
  width: 1400px;
  height: 1844px;
  background: #121212;
}
h5 {
  margin-top: 125px;
  padding-top: 151px;
  padding-bottom: 34px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
}
.services p {
  padding-top: 15px;
  padding-left: 128px;
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
